@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,900&family=Bebas+Neue&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
/* 
font-family: 'Alegreya Sans SC', sans-serif; LOGO
font-family: 'Bebas Neue', sans-serif; HEADINGS
font-family: 'Josefin Sans', sans-serif; PARAGRAPHS
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: all ease-in-out;
}

body{
    background-color: #000;
    color: #fff;
    width: 100%;
}

.Defi_Wrapper{
    position: relative;
}

.Socials{
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    width:100%;
    z-index: 2;
}

.Socials svg{
    width: 55px;
    padding:  10px;
    color:#fff;
}

.Back_to_top{
    position: fixed;
    bottom: 35px;
    right: 5px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.Back_to_top  svg{
   width: 30px;
   font-size: 20px;
   color: #fff;
   animation: moveUp 2000ms infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


.Defi_Header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
    background-color: #01013c;
    position: fixed;
    top: 0;
    z-index: 10;
}


.Logo_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo_content img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 5px;
}

.Logo_content span{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li{
    list-style: none;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 5px 10px;
    background: none;
    position: relative;
    overflow: hidden;
    transition: color .6s ease-in-out;
}

ul li a::before{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 2px;
    background:none;
    border-radius: 3px;
    transform: scale(0%);
    transition: transform 400ms;
    transform-origin: left;
}

ul li a:hover::before{
    background:#fff ;
    transform: scale(100%);
}

.menu {
  display: none;
}


/* Make Header Responsive start */
@media screen and (max-width:800px){

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
    
.Nav_item{ 
    flex-direction: column;
    position: absolute;
    top: 70px;
    left:-850px;
    width: 100%;
    background-color: #01013c97;
    transition: .7s ease-in-out;
}

.Nav_item.activate{ 
    left:0px;
}


ul li{
    margin: 0 0 15px 0;
}

ul li a {
    font-size: 20px;
    /* padding: 10px 0 ; */
    background: none;
}
      
}

@media screen and (max-width:450px){
 
.Logo_content span{
    font-size: 25px;
}

}

/* Make Header Responsive End */

.Defi_Home, 
.Defi_Services, 
.Defi_Experience,
.Defi_About{
    width: 75%;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Defi_Home_Top,.Defi_Service_Top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Defi_Home_Top,  h2, h3, .Defi_Service_Top,  h2, h3{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size:1.2rem ;
    text-align: center;
    margin: 15px 0 25px 0;
}

.Defi_Home_Top h3,
.Defi_Service_Top h3{
    font-size:1.1rem ;
    font-family: 'Josefin Sans', sans-serif;  
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 10px 0;
}

.Defi_Home_Top p,
.Defi_Service_Top p,
.Defi_About p{
    font-family: 'Josefin Sans', sans-serif;   
    font-size: 1.1rem;
    font-weight: 300;
    padding: 5px 10px;
    text-align: justify;
    line-height: 1.4rem;
    margin: 0 0 25px 0;
    text-transform: lowercase;
}

.Defi_Home_Top button,
.Defi_Service_Top button{
    margin: 15px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    animation: pulse 2000ms infinite;
    background: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

.Defi_Home_Top button a{
    color: #030361;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-family: 'Bebas Neue', sans-serif;   
    font-weight: bolder;
}


.Defi_Home_Center{
    margin: 25px 0;
    padding: 10px 15px;
    background: #01013c;
    color: #fff;
    border-radius: 5px;
}

.Defi_Home_Center h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0 0 0 ;
}

.DHC_inner{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.Defi_Motto{
    padding: 10px 20px;
    margin: 15px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Defi_Motto .Svg{
    width: 70px;
}

.Defi_Motto h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    margin: 0 0 10px 0;
}

.Defi_Motto p{
    font-family: 'Josefin Sans', sans-serif;   
    text-align: justify;
    font-weight: 300;
}

/* Make Home Responsive Start */
@media screen and (max-width:800px){

    .Defi_Home{
        width: 85%;
    }

    .DHC_inner{
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Make Home Responsive End */


.Defi_Service_Bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Defi_Service_Hidden_List{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Defi_Service_Hidden_List li{
    width: 100%;
    background-color: #030361;
    padding: 10px 5px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #fff;
    transition: color 300ms;
}

.Defi_Service_Hidden_List li::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    transform: scaleX(0%);
    transition: transform 500ms;
    transform-origin: right;
    z-index: -1;
}

.Defi_Service_Hidden_List li:hover{
  color: #000;
  z-index: 1;
}

 .Defi_Service_Hidden_List li:hover::before{
    transform: scaleX(100%);
    transform-origin: left;
} 


.Defi_Service_Hidden_List_Wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0 ;
}

.Defi_Hidden_List_Content{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.Defi_Hidden_List_Content img {
    width: 100px;
    object-fit: contain;
    object-position: center;
    margin: 0 10px 0 0;
}

.Defi_Hidden_List_Content p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-align: left;
    line-height:22px ;
}

.Defi_Hidden_List_Content:nth-child(2),
.Defi_Hidden_List_Content:nth-child(3),
.Defi_Hidden_List_Content:nth-child(4){
    display: none;
}


.slide-in {
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Make Service Responsive Start */
@media screen and (max-width:800px){
    .Defi_Service_Hidden_List{
        width: 50%;
        flex-direction: column;
    }

    
    .Defi_Hidden_List_Content{
        flex-direction: column;
    }


    .Defi_Hidden_List_Content img {
        width: 100%;
        object-fit: contain;
        object-position: center;
        margin: 0 0 10px 0;
    }
    
}

@media screen and (max-width:655px){
    .Defi_Service_Hidden_List{
        width:90%;
    }
}

/* Make Service Responsive End */


.Experience_Wrapper{
    width: 70%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
}

.Experience_Box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#01013c;
    padding: 5px 5px 0 5px;
    cursor: pointer;
    border-radius:5px 5px 0 0;
}

.Experience_Box h4{
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}

.Experience_toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toggle_box svg{
    color: #fff;
    width: 15px;
    transition: transform 1s ease-in-out;
}

  .Experience_Details{
    background-color: #01013c5e;
    padding: 0 30px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s ease-in-out;
  }

  .Experience_Details h3{
    text-transform: capitalize;
  }

  .Experience_Details ul{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .Experience_Details ul li{
    list-style: disc;
    width: 100%;
    padding: 0 0 5px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }

  /* Make Experience Responsive Start */
@media screen and (max-width:800px){

    .Experience_Wrapper{
        width: 80%;
    }

}

@media screen and (max-width:600px){
    .Experience_Wrapper{
        width: 98%;
    }

    .Experience_Details h3{
       font-size: 14px;
      }

}
  /* Make Experience Responsive End */

.Defi_About_icon{
    width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.About_Project_Counter{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.About_Project_Counter p{
    position: absolute;
    top:6px ;
    left: 40%;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.About_Project_Counter span{
   display: none;
}
  
.Final{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CountSize{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}

.Svg{
    color: #fff;
    width: 25px;
}


/* Make About Responsive Start */
@media screen and (max-width:800px){

    .About_Project_Counter{
        flex-direction: column;
        align-items: center;
    }

    .About_Project_Counter p{
       display: none;
    }

    .About_Project_Counter span{
        display: flex;
        margin: 60px 0 0 0;
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }
 
    
    .Final{
        margin: 60px 0 0 0;
    }
      
}

@media screen and (max-width:600px){

.Defi_About_icon{
    width: 90%;
}

}


/* Make About Responsive End */

.Footer{
    width: 100%;
    background-color: #01013c;
    padding: 15px 20px;
    margin: 20px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 10px 0;
}

.Footer a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.Footer a span {
    font-weight: 800;
    font-size: 16px;
    transition: all .5s ease-in-out;
}

.Footer a span:hover {
    text-decoration: underline;
}

.Footer a:hover{
    text-decoration: underline;
}

.Footer p span{
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px 0 0 0;
}

.Footer_contact{
    text-decoration: none;
}

.Footer_contact a{
  margin-right: 10px;
  font-weight: 800;
  text-decoration: none;
}

.Footer_contact a svg{
   width: 35px;
   margin: 10px 0 15px 0;
   transition: transform 300ms ease-in-out;
}

.Footer_contact a svg:hover{
    transform: scale(1.1);
}

/* Make Footer Responsive Start */
@media screen and (max-width:600px){
    .Footer a{
        font-size: 15px;
    }

    .Footer p span{
        font-size: 13px;
    }

    .Footer_contact a svg{
        width: 30px;
     }
     
}
/* Make Footer Responsive End */


.Defi_Contact{
    max-width: 500px;
    width: 70%;
    margin: 90px auto 50px auto;
    color: #000;
    background-color:#1010b95b;
    border-radius: 5px;
}


.Defi_Contact form{
padding: 10px 15px;
}

.Defi_Contact form h3{
    color: #fff;
    font-size: 15px;
}

.Contact_Top,
.Contact_Center,
.Contact_Last,
.Contact_Bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 30px 0;
}

.Contact_Form{
    width:48%;
    display: flex;
}


.Contact_Form input{
    width: 230px;
    padding: 8px 5px;
    border-radius: 3px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}

.Contact_Form input:focus{
    outline: none;
}

.Contact_Form ::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

#Textarea{
    width: 100%;
}

#Email input{
    width: 100%;
}

#Textarea textarea{
    width: 100%;
    outline: none;
    padding: 10px 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    border-radius: 2px;
    resize: none;
}

.Defi_Contact form button{
    padding: 5px 20px;
    background-color: #fff;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.Contact_Socials{
    max-width: 500px;
    width: 70%;
    margin: 50px auto 20px auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Contact_Socials h3{
    font-size: 15px;
}

.Connect{
      display: flex;
    justify-content: center;
}

.Contact_Socials a{
    margin-right: 10px;
    font-weight: 800;
    text-decoration: none;
  }
  
  .Contact_Socials a svg{
    color: #fff;
     width: 35px;
     margin: 10px 0 15px 0;
     transition: transform 300ms ease-in-out;
  }
  
  .Footer_contact a svg:hover{
      transform: scale(1.1);
  }
  

/* Make Contact Responsive Start */
@media screen and (max-width:700px){

    .Contact_Top,
    .Contact_Center,
    .Contact_Last,
    .Contact_Bottom{
        flex-direction: column;
        margin:  0;
    }

    .Contact_Form{
        width:100%;
        padding: 0 0 35px 0;
    }

    .Contact_Form input{
        width: 100%;
        padding: 13px 5px;
    }

   
}


@media screen and (max-width:600px){

    .Defi_Contact{
        width: 95%;
    }
    
}
